{% extends 'base.html' %}
{% block body %}
<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

    {% for i in cart_info %}
        <tr>
            <td>{{ i.common_name }}</td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.price_str }}</td>
            <td>{{ "$%.2f" % (i.quantity * i.price) }}</td>
        </tr>

    {% endfor %}

</table>


<h3>Total: {{ "$%.2f" % total }}</h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
